
.cd-nav-trigger {
  top: 16px;
  right: 8%;
     /*  margin-left: 49%;
       margin-right: auto;*/
  /*height: 44px;
  width: 44px;*/
                        height: 34px;
                        width: 34px;


  /*z-index: 5;*/
                      z-index: 9;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}